.sliderbox h1, .sliderbox h2{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
}
.sliderbox p, .sliderbox .block-editor-rich-text__editable.wp-block-button__link, .main-about-sec p, .sliderbox h1, .sliderbox h2, .main-about-sec h2, .main-about-sec h3{
  font-family: 'Poppins', sans-serif !important;
}
/*slider section*/
.sliderbox .block-editor-rich-text__editable.wp-block-button__link.rich-text{
  color: #fff !important;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  background: #ed0009;
  padding: 12px 16px;
  border-radius: 0;
  text-transform: uppercase;
}
.sliderbox .wp-block-column.block-editor-block-list__block.wp-block{
  margin-right: 2em !important;
}
.sliderbox .block-editor-block-list__block{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.sliderbox h2{
  letter-spacing: 5px;
}
.sliderbox h1{
  font-style: italic;
}
.sliderbox h2.has-background{
  padding: 10px !important;
}
.sliderbox-content {
  flex-basis: 49.66% !important;
}
.wp-block-column.slider-col{
  flex-basis: 50.66% !important;
}
/*services section*/
.has-background-dim.wp-block-cover.service-box.block-editor-block-list__block.wp-block:after{
  content: none;
}
.service-box h3, .sliderbox h1{
  letter-spacing: 2px;
  font-weight: 600 !important;
}
.main-service, .main-about{
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.wp-block-columns.main-service, .main-service .wp-block-cover, .sliderbox{
  margin-top:0 !important;
  margin-bottom: 0 !important;
}
/*about section*/
.main-about h4:after{
  content: "";
  width: 40px;
  height: 4px;
  background-color: #ed0009;
  display: block;
  margin-top: 10px;
}
.main-about .block-editor-block-list__layout .block-editor-block-list__block:after{
  top: 25px !important;
}